/*client panels*/
:root {
    --lightgray: #e9ebec;
    --darkgray: #729fcb;
    --blue: #E9F0F7;
    --darkblue: #172c40;
    --orange: #FFA500;
}
.centered{
    display: flex;
    width: 92%;
}
#all-container{
    min-height: 69vh;
    background-color: white;
}
#center-container{
    flex-direction: column;
    height: 100%;
}
.stripe-holder{
    height: 2vh;
}
.example{
    width: 100%;
    height: 20vh;
    background-color: red;
}
footer{
    height: 16vh;
}